body {
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}

#outer{
  width: 100%;
}

#inner {
  display: table;
  margin: 0 auto;
  background-color: white;
  width: 60%;
  padding: 10px;
}

.highlight {
  margin: 20px;
  padding: 1px 1px 1px 10px;
}

.code_stdout {
  margin: 20px;
  padding: 1px 1px 1px 10px;
  background-color: #f0f0f0;
}

.executed_in {
  color: green;
}

.generated_image, .generated_video {
  display: block;
  margin: auto;
  border: 0px;
  padding: 0px;
}

.equation {
  padding: 0px 100px 0px 0px;
}

.static_image {
  display: block;
  margin: auto;
  border: 0px;
  width: 600px;
  padding: 20px;
}

.notationTable {
  padding-left: 40px;
}

.notationTable tr td {
  padding-bottom: 10px;
  padding-right: 20px;
}

a.header_style:hover, a.header_style:visited,
  a.header_style:active, a.header_style:link {
  text-decoration: none;
  color: black;
}

a:hover, a:visited,
  a:active, a:link {
  color: blue;
}

pre code {
  background-color: #f0f0f0;
  display: block;
  padding: 20px;
}
